#!/usr/bin/env bash
set -euo pipefail

{{- if .supported }}

{{- $systemPackages := list }}
{{- range $category := .categories }}
{{- $systemPackages = concat $systemPackages $category }}
{{- end }}

{{ template "packages-array" (list "packages" $systemPackages) }}
if ((${#packages[@]} == 0)); then
  exit 0
fi

printf '\n--- Installing packages ---\n'
sudo pacman --sync --needed --noconfirm -- "${packages[@]}"

{{- end }}
