#!/usr/bin/env bash
set -euo pipefail

{{- if .supported }}

sudo pacman --sync --refresh --sysupgrade

{{- else }}

printf 'Linux distribution {{ .chezmoi.osRelease.id }} is not supported\n' >&2
exit 1

{{- end }}
