#!/usr/bin/env bash
set -euo pipefail

{{- if eq .chezmoi.osRelease.id "arch" }}

FONTS_CONF="$HOME/.config/fontconfig/fonts.conf"
FONT_NAME="FiraCode Nerd Font Mono"

printf '\n%s\n' '--- Setting up fonts ---'
if grep --quiet "$FONT_NAME" "$FONTS_CONF" 2>/dev/null; then
  printf '%s\n' 'Fonts are configured, skipping'
  exit 0
fi

mkdir --parents "$(dirname "$FONTS_CONF")"

cat >"$FONTS_CONF" <<EOF
<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "fonts.dtd">
<fontconfig>
  <match target="pattern">
    <test qual="any" name="family"><string>monospace</string></test>
    <edit name="family" mode="prepend" binding="strong">
      <string>${FONT_NAME}</string>
    </edit>
  </match>
</fontconfig>
EOF

fc-cache --force >/dev/null

printf '%s\n' "$FONT_NAME set as default monospace"

{{- else }}
{{ template "unsupported-distro" . }}
{{- end }}
