{{- $supported := eq .chezmoi.osRelease.id "arch" -}}
data:
  supported: {{ $supported }}

{{- if $supported -}}
{{- $useAge := promptBoolOnce . "age.use" "Use Age to decrypt secrets? [y/N]" false -}}
{{- $useAur := promptBoolOnce . "aur.use" "Use AUR [y/N]" false -}}
{{- $useFlatpak := promptBoolOnce . "flatpak.use" "Use Flatpak [y/N]" false }}
  age:
    use: {{ $useAge }}
  aur:
    use: {{ $useAur }}
  flatpak:
    use: {{ $useFlatpak }}

{{ if $useAge -}}
encryption: age
age:
  identity: {{ .chezmoi.homeDir }}/.config/chezmoi/identity.key
  recipient: age13mnfr2ne38d9rdzw44qk0ekxcuncz8nxrquq6awhx97hzvjw452qa3y22e
{{- end }}

hooks:
  read-source-state:
    pre:
      command: {{ .chezmoi.sourceDir }}/.ensure-pre-requisites.sh
{{- end }}
