{{- $IDENTITY := joinPath .chezmoi.homeDir ".config" "chezmoi" "identity.key" -}}
{{- $PUBLIC_IDENTITY := joinPath .chezmoi.homeDir ".config" "chezmoi" "identity.key.pub" -}}
{{- $ENCRYPTEDIDENTITY := joinPath .chezmoi.sourceDir ".identity.key.age" -}}

{{- $useAur := promptBoolOnce . "aur.use" "Use AUR [y/N]" false -}}
{{- $useFlatpak := promptBoolOnce . "flatpak.use" "Use Flatpak [y/N]" false -}}
{{- $useAge := promptBoolOnce . "age.use" "Use Age [y/N]" false -}}

{{- if .age.use }}
encryption: age
age:
  identity: {{ $IDENTITY }}
  recipientsfile: {{ $PUBLIC_IDENTITY }}
{{- end }}

data:
  age:
    use: {{ $useAge }}
    identity: {{ $IDENTITY }}
    publicIdentity: {{ $PUBLIC_IDENTITY }}
    encryptedIdentity: {{ $ENCRYPTEDIDENTITY }}
  aur:
    use: {{ $useAur }}
  flatpak:
    use: {{ $useFlatpak }}
